.cover__subtitle {
	display: block;
	font-size: 18px;
	line-height: 22px;
	margin: 0 auto;
	font-weight: normal;
	max-width: 360px;
	text-align: center;
	z-index: 10;
	position: relative;
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 425px) {
	.cover__subtitle {
		width: 90%;
		font-size: 14px;
		line-height: 16px;
	}
}